.button_for_show {
    border-right : solid 2px #000;
    border-bottom : solid 2px #000;
    width:1rem;
    height:1rem;
    transform : rotate(45deg);
    position:relative;
    bottom:4px
}

.container {
    width: 500px;
    padding:10px;
}

.block {
  padding:0 0 20px 0;
}

.todo_done {
    width:10px;
    padding:5px;
}

.todo_title {
    width:22rem;
    padding:5px;
}

.todo_time_limit {
    width:150px;
    border:none;
}

h5 {
  color: crimson;
}
