html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template:
      "HEADER   HEADER"   50px
      "SIDEBAR  MAIN"     auto
      /230px    auto;
  height: 100%;
}

.grid-container > .grid-header {
  display: grid;
  grid-area: HEADER;
}

.grid-container > .grid-sidebar {
  display: grid;
  grid-area: SIDEBAR;
  background-color: lightgray;
}

.grid-container > .grid-main {
  display: grid;
  grid-area: MAIN;
  background-color:linen;
}
